/TouchIt Faster/[Ll]ibrary/
/TouchIt Faster/[Tt]emp/
/TouchIt Faster/[Oo]bj/
/TouchIt Faster/[Bb]uild/
/TouchIt Faster/[Bb]uilds/
/TouchIt Faster/Assets/AssetStoreTools*

# Visual Studio 2015 cache directory
/TouchIt Faster/.vs/

# Builds
*.apk
*.unitypackage
/TouchIt Faster/.vs/Snail Runniiiing/v15/sqlite3/storage.ide
/TouchIt Faster/.vs/RunSnailRun/v14/.suo

*.csproj
*.sln
*.a
*.pidb.meta